body {
    font-family: Arial;
    text-align: center;
}

input{
    padding: 10px;
}

button{
    padding: 10px;
    background-color: rgb(0, 30, 128);
    color: white;
}

li {
    margin: 10px;
    cursor: pointer;
}
